In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("Churn_Modelling.csv")

In [8]:
df = df.ix[:, 0:4]

In [10]:
df.head(10)

   RowNumber  CustomerId   Surname  CreditScore
0          1    15634602  Hargrave          619
1          2    15647311      Hill          608
2          3    15619304      Onio          502
3          4    15701354      Boni          699
4          5    15737888  Mitchell          850
5          6    15574012       Chu          645
6          7    15592531  Bartlett          822
7          8    15656148    Obinna          376
8          9    15792365        He          501
9         10    15592389        H?          684

In [13]:
df.describe()

         RowNumber    CustomerId   CreditScore
count  10000.00000  1.000000e+04  10000.000000
mean    5000.50000  1.569094e+07    650.528800
std     2886.89568  7.193619e+04     96.653299
min        1.00000  1.556570e+07    350.000000
25%     2500.75000  1.562853e+07    584.000000
50%     5000.50000  1.569074e+07    652.000000
75%     7500.25000  1.575323e+07    718.000000
max    10000.00000  1.581569e+07    850.000000

In [16]:
a = [1, 2, 3]